
<div>
    <h4>Details for Course:</h4>
    <h2>{{vm.course.title}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Teacher(s)</span></dt>
        <dd>
            <span ng-repeat="teachers in vm.course.teachers">
                {{teachers.firstName}} {{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
        <span>{{vm.course.description}}</span>
        </dd>
        <dt><span>Acquirable Skills</span></dt>
        <dd>
        <span ng-repeat="acquirableSkills in vm.course.acquirableSkills">
        <a ui-sref="skill-detail({id: acquirableSkills.id})">{{acquirableSkills.name}}</a>{{$last ? '' : ', '}}
        </span>
        </dd>
        <dt><span>Start</span></dt>
        <dd>
        <span>{{vm.course.start | date:'medium'}}</span>
        </dd>
        <dt><span>End</span></dt>
        <dd>
        <span>{{vm.course.end | date:'medium'}}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
        <span>{{vm.course.location}}</span>
        </dd>
        <dt><span>Implied Skills</span></dt>
        <dd>
        <span ng-repeat="impliedSkills in vm.course.impliedSkills">
        <a ui-sref="skill-detail({id: impliedSkills.id})">{{impliedSkills.name}}</a>{{$last ? '' : ', '}}
        </span>
        </dd>
        <dt>
            <span>Attendees ({{vm.course.attendees.length}})</span><br>
            <span>Maximum: {{vm.course.maxAttendees}}</span>
        </dt>
        <dd>
        <span ng-repeat="attendees in vm.course.attendees">
        {{attendees.login}}{{$last ? '' : ', '}}
        </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ng-click="vm.book()" class="btn btn-success" disabled
            ng-if="(vm.course.maxAttendees - vm.course.attendees.length) > 0 && vm.alreadyBooked()">
        <span class="glyphicon glyphicon-ok"></span>
        <span class="hidden-sm-down"> Already Booked!</span>
    </button>

    <button type="button" ng-click="vm.book()" class="btn btn-success" ng-disabled="vm.isSaving"
            ng-if="(vm.course.maxAttendees - vm.course.attendees.length) > 0 && !(vm.alreadyBooked())">
        <span class="glyphicon glyphicon-ok"></span>
        <span class="hidden-sm-down"> Book Course</span>
    </button>

    <button type="button" class="btn btn-success" disabled ng-if="vm.course.maxAttendees - vm.course.attendees.length <= 0">
        <span class="glyphicon glyphicon-ok"></span>
        <span class="hidden-sm-down"> Maxiumum number of attendees reached!</span>
    </button>
</div>
