<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>User settings for [<b>{{vm.settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Settings saved!</strong>
            </div>

           <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Your first name"
                           ng-model="vm.settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                        <p class="help-block"
                               ng-show="form.firstName.$error.required">
                            Your first name is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.minlength">
                            Your first name is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.maxlength">
                            Your first name cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Your last name"
                           ng-model="vm.settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                        <p class="help-block"
                               ng-show="form.lastName.$error.required">
                            Your last name is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.minlength">
                            Your last name is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.maxlength">
                            Your last name cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           ng-model="vm.settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required">
                            Your email is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email">
                            Your email is invalid.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength">
                            Your email is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength">
                            Your email cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <!-- Profile fields -->
                <div class="form-group">
                    <label class="control-label" for="field_degree">Degree</label>
                    <input type="text" class="form-control" name="degree" id="field_degree"
                           ng-model="vm.settingsAccount.degree"
                    />
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_semester">Semester</label>
                    <input type="number" class="form-control" name="semester" id="field_semester"
                           ng-model="vm.settingsAccount.semester"
                    />
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_faculty">Faculty</label>
                    <input type="text" class="form-control" name="faculty" id="field_faculty"
                           ng-model="vm.settingsAccount.faculty"
                    />
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_university">University</label>
                    <input type="text" class="form-control" name="university" id="field_university"
                           ng-model="vm.settingsAccount.university"
                    />
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_birthday">Birthday</label>
                    <div class="input-group">
                        <input id="field_birthday" type="text" class="form-control" name="birthday"
                               datetime-picker="dd.MM.yyyy" ng-model="vm.settingsAccount.birthday" is-open="vm.datePickerOpenStatus.birthday" enable-time="false" closeOnDateSelection="true" datepicker-options="{datepickerMode: 'year'}" button-bar="" read-as="true"/>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('birthday')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>
                <!-- End profile fields -->
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>

</div>
